<%= turbo_frame_tag "modal" do %>
  <%= render "shared/modal", title: "子タスクを編集" do %>
    
    <p class="text-right text-xs text-gray-400 mb-4">
      親タスク：<%= @task.title %>
    </p>

    <%= render "form", sub_task: @sub_task, task: @task %>

  <% end %>
<% end %>